@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap%27');

:root{
    --fondo:#ffffff;
    --fondo2:#E4BAD4; 
    --f3:#363636;

}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background:#ffffff; 
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:black;
    font-weight: 300;
}

.marca{
    font-weight: 600;
    font-variant: small-caps;
}

.nav{
    display: flex;
    list-style: none;
}

.links{
    padding: 0 10px;
}

.links a{
    transition: all .3s ease;
}

.links a :hover{
    color:#980d8d;
}